body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('img_parallax.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #background {
    height:700px;
    background-color: rgba(255, 0, 0, .5);
    font-size:36px
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }