#box1 {
    text-align: left;
    height: 250px;
    width: 250px;
    background-image: url("./photos/great_wall.jpg");
    background-size: cover;
    display: inline-block;
    margin-right: 45px;
    z-index: 80%;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)
  }
  #box2 {
    text-align: left;
    height: 250px;
    width: 250px;
    background-image: url("./photos/taj.jpg");
    background-size: cover;
    display: inline-block;
    margin-right: 45px;
    z-index: 80%;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)
  }
  #box3 {
    text-align: left;
    background-image: url("./photos/taipei.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)

  }
  #box4 {
    text-align: left;
    background-image: url("./photos/oaxaca_city.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-right: 45px;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)

  }
  #box5 {
    text-align: left;
    background-image: url("./photos/gecko.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-right: 45px;
    border-radius: 5.5%;  
    color: rgba(255, 0, 0, 1)
  }
  #box6 {
    text-align: left;
    background-image: url("./photos/camping.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)

  }
  #box7 {
    text-align: left;
    background-image: url("./photos/kapstaad.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-right: 45px;
    border-radius: 5.5%;  
    color: rgba(255, 0, 0, 1)

  }
  #box8 {
    text-align: left;
    background-image: url("./photos/oregon_coast.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-right: 45px;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)

  }
  #box9 {
    text-align: left;
    background-image: url("./photos/choson.jpg");
    z-index: 80%;
    background-size: cover;
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 5.5%;
    color: rgba(255, 0, 0, 1)
  }
  
  .boxes {
  padding-left: 100px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  }
  
  .boxcar {
    padding: 20px 40px 20px 20px;
    margin-left: 12%;
  }

  #banner {
      background-image: url("./photos/thai.jpg");
      height: 500px;
      align-content: center;
      background-size: cover;
      zoom: 100%;
      background-attachment: fixed;
  }
#background {
    background: black;
    background: linear-gradient(top, rgb(250, 110, 4), rgba(247, 132, 18, 0.6));
    background: -webkit-linear-gradient(top, rgb(250, 110, 4), rgba(247, 132, 18, 0.6));
    background: -moz-linear-gradient(top, rgb(250, 110, 4), rgba(247, 132, 18, 0.6));
}

#navbar {
    opacity: .7;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: 7%;
    margin-left: 30%;
    top: 3%;
    font-weight: bold;
    z-index: 8;  
    background-color: rgba(255,255,255,.0);
    position: fixed;
    border-radius: 50%;
    
}

@media screen and (max-width: 600px) {
    #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {
        display: block;
      }
    }

    #bottompic {
    background-image: url("./photos/hornings.jpg");
    height: 500px;
    align-content: center;
    background-size: cover;
    zoom: 100%;
    background-attachment: fixed;
    }
   
    .navbar-brand {
        font-family: 'Noto Serif TC', serif;
        font-weight: bold;
        font-size: 30px;
    }